{% include "header_include.html" %}
{% include "pagelist_include.html" %}
{% include "errors_include.html" %}
{% from  "pvupdate_include.html" import showpv with context %}
{% block body %}
<body onload="enable_pv_updates();">

<table>
<tr><th align='left'></th><th align='right'>
         {{ showpv('pvarch_timestamp', with_link=0) }} </th></tr>

 <tr><td colspan=2>&nbsp;</td></tr> 
 <tr><td class='section'>  Energy </td><td></td></tr> 

 <tr><td class='pvlabel'>  Mono Energy  </td>
     <td class='pvlink'>
       {{ showpv("13BMA:E:Energy.VAL") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  PID Looped Locked?  </td>
     <td class='pvlink'>
       {{ showpv("13BMA:mono_pid1Locked.VAL", form="yesno") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  I0 Set Point  </td>
     <td class='pvlink'>
       {{ showpv("13BMA:mono_pid1.VAL") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  I0 Actual Value  </td>
     <td class='pvlink'>
       {{ showpv("13BMA:mono_pid1.CVAL") }}
     </td>
 </tr>
 <tr><td colspan=2>&nbsp;</td></tr> 
 <tr><td class='section'>  Scan </td><td></td></tr> 

 <tr><td class='pvlabel'>  Scan Data File  </td>
     <td class='pvlink'>
       {{ showpv("13BMD:edb:file.VAL") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  Scan Status  </td>
     <td class='pvlink'>
       {{ showpv("13BMD:scan1.FAZE") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  Total Points in Scan  </td>
     <td class='pvlink'>
       {{ showpv("13BMD:scan1.NPTS") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  Current Point in Scan  </td>
     <td class='pvlink'>
       {{ showpv("13BMD:scan1.CPT") }}
     </td>
 </tr>
 <tr><td colspan=2>&nbsp;</td></tr> 
 <tr><td class='section'>  Sample Temperature and Pressure </td><td></td></tr> 

 <tr><td class='pvlabel'>  Cooling Temperature  </td>
     <td class='pvlink'>
       {{ showpv("13Keithley1:DMM1Ch1_calc.VAL") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  Cell 1 Temperature  </td>
     <td class='pvlink'>
       {{ showpv("13Keithley1:DMM1Ch3_calc.VAL") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  Cell 1 Pressure  </td>
     <td class='pvlink'>
       {{ showpv("13Keithley1:DMM1Ch5_calc.VAL") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  Cell 2 Pressure  </td>
     <td class='pvlink'>
       {{ showpv("13Keithley1:DMM1Ch7_calc.VAL") }}
     </td>
 </tr>
</table>
</body>
{% endblock %}
{% include "footer_include.html" %}
