{% include "header_include.html" %}
{% include "pagelist_include.html" %}
{% include "errors_include.html" %}
{% from  "pvupdate_include.html" import showpv with context %}
{% block body %}
<body onload="enable_pv_updates();">

<table>
<tr><th align='left'></th><th align='right'>
         {{ showpv('pvarch_timestamp', with_link=0) }} </th></tr>

 <tr><td class='section'>  Mono and Feedback </td><td></td></tr> 

 <tr><td class='pvlabel'>  13IDA:eps_mbbi4.VAL  </td>
     <td class='pvlink'>
       {{ showpv("13IDA:eps_mbbi4.VAL") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  Mono Energy  </td>
     <td class='pvlink'>
       {{ showpv("13IDA:CDEn:Energy.VAL") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  1st XTAL Temp  </td>
     <td class='pvlink'>
       {{ showpv("13IDA:DMM1Ch2_calc.VAL") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  2nd XTAL Temp  </td>
     <td class='pvlink'>
       {{ showpv("13IDA:DMM1Ch3_calc.VAL") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  PID Looped Locked?  </td>
     <td class='pvlink'>
       {{ showpv("13IDA:mono_pid1Locked.VAL", form="yesno") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  I0 Set Point  </td>
     <td class='pvlink'>
       {{ showpv("13IDA:mono_pid1.VAL") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  I0 Actual Value  </td>
     <td class='pvlink'>
       {{ showpv("13IDA:mono_pid1.CVAL") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  I0 Current Value  </td>
     <td class='pvlink'>
       {{ showpv("13IDA:mono_pid2_incalc.H") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  PreSlit Sum  </td>
     <td class='pvlink'>
       {{ showpv("13IDA:mono_pid2_incalc.M") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  PreSlit Diff (should be ~= 0)  </td>
     <td class='pvlink'>
       {{ showpv("13IDA:mono_pid2_incalc.N") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  Pitch Piezo (should be -4 < x < 4)  </td>
     <td class='pvlink'>
       {{ showpv("13IDA:DAC1_3.VAL") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  Roll Set Point  </td>
     <td class='pvlink'>
       {{ showpv("13IDA:mono_pid2.VAL") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  Roll Actual Value  </td>
     <td class='pvlink'>
       {{ showpv("13IDA:mono_pid2.CVAL") }}
     </td>
 </tr>
 <tr><td colspan=2>&nbsp;</td></tr> 
 <tr><td class='section'>  Scan </td><td></td></tr> 

 <tr><td class='pvlabel'>  Scan Data File  </td>
     <td class='pvlink'>
       {{ showpv("13XRM:edb:file.VAL") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  Scan Status  </td>
     <td class='pvlink'>
       {{ showpv("13IDE:scan1.FAZE") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  Total Points in Scan  </td>
     <td class='pvlink'>
       {{ showpv("13IDE:scan1.NPTS") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  Current Point in Scan  </td>
     <td class='pvlink'>
       {{ showpv("13IDE:scan1.CPT") }}
     </td>
 </tr>
 <tr><td colspan=2>&nbsp;</td></tr> 
 <tr><td class='section'>  4-Element Fluorescence Detector </td><td></td></tr> 

 <tr><td class='pvlabel'>  MCA detector Preset Real Time  </td>
     <td class='pvlink'>
       {{ showpv("13SDD1:mca1.PRTM") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  MCA detector Acquire Real Time  </td>
     <td class='pvlink'>
       {{ showpv("13SDD1:mca1.ERTM") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  MCA detector status  </td>
     <td class='pvlink'>
       {{ showpv("13SDD1:mca1.ACQG") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  MCA detector % deadtime  </td>
     <td class='pvlink'>
       {{ showpv("13SDD1:mca1.IDTIM") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  MCA detector Peaking Time  </td>
     <td class='pvlink'>
       {{ showpv("13SDD1:dxp1.PKTIM") }}
     </td>
 </tr>
 <tr><td colspan=2>&nbsp;</td></tr> 
 <tr><td class='section'>  Flux </td><td></td></tr> 

 <tr><td class='pvlabel'>  I0 current (uA)  </td>
     <td class='pvlink'>
       {{ showpv("13XRM:ION:Current.VAL") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  I0 absorbed flux (Hz)  </td>
     <td class='pvlink'>
       {{ showpv("13XRM:ION:FluxAbs.VAL") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  I0 transmitted flux (Hz)  </td>
     <td class='pvlink'>
       {{ showpv("13XRM:ION:FluxOut.VAL") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  I0 chamber length (cm)  </td>
     <td class='pvlink'>
       {{ showpv("13XRM:ION:Length.VAL") }}
     </td>
 </tr>

 <tr><td class='pvlabel'>  I0 chamber gas  </td>
     <td class='pvlink'>
       {{ showpv("13XRM:ION:Gas.VAL") }}
     </td>
 </tr>
</table>
</body>
{% endblock %}
{% include "footer_include.html" %}
