{% include "header_include.html" %}
{% include "pagelist_include.html" %}
{% include "errors_include.html" %}
{% block body %}
<body>

<p> <div class=subfont> PVArchiver Alerts  </div>

  <table cellspacing=5 cellpadding=2>

    <tr>
      <th> Name: {% if admin %} (click to edit) {% endif %} </th>
      <th>PV Name</th><th>Trip Point</th> <th>Active?</th><th>Current Status</th>
    </tr>

      {% for a in alerts %}
      <tr id="{{ loop.cycle('odd', 'even') }}" >
	<td>
	  {% if admin %}
	  <a href="editalert/{{a.id}}"> {{ a.name }}  </a>
          {% else %} {{ a.name }}  {% endif %}
	</td>
	<td> {{ a.pvname }}  </td>
	<td> {{ a.trip_point}} </td>
	<td> {{ a.active }}  </td>
	<td> {{ a.status }}  </td>
	</tr>
      {% endfor %}

</table>


</body>
{% endblock %}
{% include "footer_include.html" %}
