{% extends 'header_include.html' %}
{% include 'pagelist_include.html' %}
{% include 'errors_include.html' %}
{% block body %}

<p> <div class=subfont> PVArchiver Alerts  </div>

  <table cellspacing=5 cellpadding=2>

    <tr>
      <th> Name: {% if admin %} (click to edit) {% endif %} </th>
      <th>PV Name</th><th>Trip Point</th> <th>Active?</th>
    </tr>

      {% for alert in alerts %}
      <tr id="{{ loop.cycle('odd', 'even') }}" >
	<td>
	  {% if admin %}
	  <a href="editalert/{{alert.id}}"> {{ alert.name }}  </a>
          {% else %}
	  {{ alert.name }}
	  {% endif %}
	</td>
	<td> {{ alert.pvname }}  </td>
	<td> {{ alert.compare }} {{ alert.trippoint}} </td>
	<td> {{ alert.active }}  </td>
	</tr>
      {% endfor %}

</table>


{% endblock %}
{% include 'footer_include.html' %}
