
<!doctype html>
<head>
  <title>Epics PV Archiver</title>

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"/>

  <script type='text/javascript' src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type='text/javascript' src="{{url_for('static', filename='datepicker.js')}}"></script>
  <link rel='stylesheet' type='text/css' href="{{url_for('static', filename='datepicker.css')}}"/>
</head>

<div class=page>
  <div class=topbar>
  <table cellpadding=1 width=100%>
    <tr>
      <td width=35% padding=5 align=left>
        <font size=+1>PV Archiver</font></td>
    </tr>
  </table>
</div>


<div id='tab'>
  <ul id='tabmenu'>
    <li> <a href="{{ url_for('index') }}">Main Page </a> </li>
    <li> &nbsp;&nbsp; </li>
    <li> <a href="{{ url_for('help') }}"> Help </a> </li>
    <li> <a href="{{ url_for('status') }}"> Status </a> </li>

    {% if admin %}
    <li><a href="{{ url_for('alerts') }}">Alerts</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
    {% else %}
    <li><a href="{{ url_for('login') }}">Login</a></li>
    {% endif %}
</ul>

</div>

{% if error %}
  <p class=error><strong>Error:</strong> {{ error }} </p>
  {% endif %}
{% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
{% endfor %}

{% macro showpv(name) %}
    <a id={{cache_data[name].id}} href="plot/time_ago/day/None/{{name}}/"> {{ cache_data[name].cvalue }} </a>
{% endmacro %}


    {% block body %}


    {% endblock %}

</div>
