{% extends "layout.html" %}
{% block body %}

<table>
  <tr>
   <td valign=top>

  <form action="{{ url_for('formplot') }}" method=post>
  <table border=2>
    <tr> <th colspan=2>Time Range:</th><th colspan=2> PV Names</th><tr>
    <tr><td>Start Date:</td>
      <td>
	<input type='text' id="date1" name="date1" style="width: 150px;">
	<script type="text/javascript">	$(function(){ $('*[name=date1]').appendDtpicker(); });</script>
    </td>
      </td>
      <td>PV 1:</td> <td><input style="width: 250px;" type=text name='pv1' value='{{pv1|safe}}'></td>
    </tr>
    <tr>
      <td>End Date:</td>
      <td>
	<input type='text' id="date2" name="date2" style="width: 150px;">
	<script type="text/javascript">	$(function(){$('*[name=date2]').appendDtpicker(); });</script>
      </td>
      <td>PV 2:</td> <td><input style="width: 250px;" type=text name='pv2' value='{{pv2|safe}}'></td>
    </tr>

    <tr>
      <td></td><td>
      <input type=submit name=submit value='Use Date Range'></td>
      <td>PV 3:</td><td><input style="width: 250px;" type=text name='pv3' value='{{pv3|safe}}'></td>
    </tr>
    <tr>
      <td> past 1 week </td><td> past 6 weeks</td>
      <td>PV 4:</td><td><input style="width: 250px;" type=text name='pv4' value='{{pv4|safe}}'></td>
    </tr>
    <tr>
      <td> past 26 weeks </td><td> past 52 weeks</td>
      <td>PV 5:</td><td><input style="width: 250px;" type=text name='pv45 value='{{pv|safe}}'></td>
    </tr>
  </table>
</td>
<td> S2</td></tr>
{% if messages is not none %}
<tr><td>Warnings:</td><td colspan=3> <b>{{ messages }}</b></td></tr>
{% endif %}


    <tr><td colspan=2>
	<a href="/pvarch/data/{{pv1}}/{{timestr}}/pv1.dat"> {{pv1|safe}}</a> = {{pvcurrent}}
	</td>
    {% if pv2 is not none %}
	<td colspan=2>
	<a href="/pvarch/data/{{pv2}}/{{timestr}}/pv2.dat"> {{pv2|safe}}</a> = {{pv2current}}
	</td>
    {% endif %}
    </tr>

  <tr><td colspan=4>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"
	   charset="utf-8"></script>
   <div id='pv_plot'>
     <script  type="text/javascript">
       var graph = {{fig | safe}};
       Plotly.plot('pv_plot',   graph.data,   graph.layout || {}, config=graph.config);
     </script>
   </div>
    </td> <td>

  </td></tr>

    <tr><td>Replot from </td><td colspan=3>
	{% for c in ago_choices %}
	{% if 'day' not in c.val %}
	<a href="/pvarch/plot/{{pv}}/{{pv2}}/time_ago/{{c.val}}"> {{c.label}}</a>&nbsp;&nbsp;
	{% endif %}
	{% endfor %}
  </td></tr>
  <tr><td>Present Time:</td><td colspan=3>
	{% for c in ago_choices %}
	{% if 'day' in c.val %}
	<a href="/pvarch/plot/{{pv}}/{{pv2}}/time_ago/{{c.val}}"> {{c.label}}</a>&nbsp;&nbsp;
	{% endif %}
	{% endfor %}
  </td></tr>
  <tr><td> </td></tr>
</table>

</form>

</td><td valign='top'>

  {% if pv2 is not none %}
    <a href="/pvarch/plot/{{pv2}}/{{pv}}/{{timestr}}"> Swap {{pv|safe}} and {{pv2|safe}} </a> <p>
    <a href="/pvarch/plot/{{pv}}/None/{{timestr}}">  Only {{pv|safe}}</a> <p>
    <a href="/pvarch/plot/{{pv2}}/None/{{timestr}}"> Only  {{pv2|safe}}</a> <p>
  {% endif %}

  <b>Related PVs:</b><p>
  {% for other in related %}
       <a href="/pvarch/plot/{{pv}}/{{other}}/{{timestr}}"> {{other}}</a> <p>
  {% endfor %}

  </tr></table>
{% endblock %}
