{% extends "layout.html" %}
{% block body %}

a<table><tr>
   <td valign=top>

  <form action="{{ url_for('formplot') }}" method=post>
  <table border=0>
    <tr><td>PV 1:</td><td><input size=30 type=text name=pv value='{{pv|safe}}'></td>
      <td>PV 2:
	{% if pv2 is not none %}
	   </td><td><input size=30 type=text name=pv2 value='{{pv2|safe}}'></td></tr>
	{% else %}
	   </td><td><input size=30 type=text name=pv2 value=''></td></tr>
	{% endif %}

    <tr>
      <td>Range:</td>
    <td><input size=12 type=text name=pvmin value='{{pvmin|safe}}'>:
	<input size=12 type=text name=pvmax value='{{pvmax|safe}}'>
    <td></td>
    <td><input size=12 type=text name=pv2min value='{{pv2min|safe}}'>:
	<input size=12 type=text name=pv2max value='{{pv2max|safe}}'>
    </td></tr>
    <tr><td><input type=submit name=submit value='From Present' ></td><td colspan=3>
	<select name='time_ago' style="width: 100px;">
	  {% for c in ago_choices %}
	  <option value={{c.val}}  {% if c.val == time_ago  %} selected=1 {% endif %}> {{c.label}}</option>
	  {% endfor %}
	  </select>
	</td></tr>
    <tr><td><input type=submit name=submit value='Date Range'></td>
      <td colspan=4>
	<input type='text' id="date1" name="date1" > <button id="date1_trig">...</button>
	<input type='text' id="date2" name="date2" > <button id="date2_trig">...</button>
	<script type='text/javascript'>

	 function setdate2(cal) {
	     var date  = cal.date;
	     var time  = date.getTime()
	     var f1    = document.getElementById("date1");
	     var f2    = document.getElementById("date2");
	     var tago  = document.getElementById("timevar");
	     var tarr  = new Array();
	     tarr      = tago.value.split(' ');
	     if (f1 == cal.params.inputField) {
		 var tunit = Date.MINUTE;
		 var tstr = tarr[1].substring(0,2);
		 if      (tstr == 'ho'){ tunit= Date.HOUR;   }
		 else if (tstr == 'we'){ tunit= Date.WEEK;   }
		 else if (tstr == 'da'){ tunit= Date.DAY;   }
		 else if (tstr == 'mo'){ tunit= Date.DAY*31; }
		 time     += tarr[0] * tunit;
		 var date2 = new Date(time);
		 f2.value  = date2.print("%Y-%m-%d %H:%M:%S");
	       }
	 }
	 Calendar.setup({inputField: "date1",
			button: "date1_trig",
			onUpdate: setdate2,
			ifFormat: "%Y-%m-%d %H:%M:%S",
			showsTime: true,
			timeFormat: 24,
			showOthers: true,
			singleClick: false,
			weekNumbers: false });
	 Calendar.setup({inputField: "date2",
			button: "date2_trig",
			ifFormat: "%Y-%m-%d %H:%M:%S",
			showsTime: true,
			timeFormat: 24,
			showOthers: true,
			singleClick: false,
			weekNumbers: false });
     </script>
     </td></tr>
      {% if messages is not none %}
	<tr><td>Warnings:</td><td colspan=3> <b>{{ messages }}</b></td></tr>
     {% endif %}


    <tr><td colspan=2>
	<a href="/pvarch/data/{{pv}}/{{timestr}}/pv1.dat"> {{pv|safe}}</a> = {{pvcurrent}}
	</td>
    {% if pv2 is not none %}
	<td colspan=2>
	<a href="/pvarch/data/{{pv2}}/{{timestr}}/pv2.dat"> {{pv2|safe}}</a> = {{pv2current}}
	</td>
    {% endif %}
    </tr>

    <tr><td colspan=4> <img width=650 src="data:image/png;base64,{{ figure|safe }}"></td></tr>

    <tr><td>Replot from </td><td colspan=3>
	{% for c in ago_choices %}
	{% if 'day' not in c.val %}
	<a href="/pvarch/plot/{{pv}}/{{pv2}}/time_ago/{{c.val}}"> {{c.label}}</a>&nbsp;&nbsp;
	{% endif %}
	{% endfor %}
  </td></tr>
  <tr><td>Present Time:</td><td colspan=3>
	{% for c in ago_choices %}
	{% if 'day' in c.val %}
	<a href="/pvarch/plot/{{pv}}/{{pv2}}/time_ago/{{c.val}}"> {{c.label}}</a>&nbsp;&nbsp;
	{% endif %}
	{% endfor %}
  </td></tr>
  <tr><td> </td></tr>
</table>

</form>

</td><td valign='top'>

  {% if pv2 is not none %}
    <a href="/pvarch/plot/{{pv2}}/{{pv}}/{{timestr}}"> Swap {{pv|safe}} and {{pv2|safe}} </a> <p>
    <a href="/pvarch/plot/{{pv}}/None/{{timestr}}">  Only {{pv|safe}}</a> <p>
    <a href="/pvarch/plot/{{pv2}}/None/{{timestr}}"> Only  {{pv2|safe}}</a> <p>
  {% endif %}

  <b>Related PVs:</b><p>
  {% for other in related %}
       <a href="/pvarch/plot/{{pv}}/{{other}}/{{timestr}}"> {{other}}</a> <p>
  {% endfor %}

  </tr></table>
{% endblock %}
