{% include "header_include.html" %}
{% include "pagelist_include.html" %}
{% include "errors_include.html" %}
{% block body %}
<body>

<!--
    <a href="{{ url_for('static', filename='style.css') }}"/>stylesheet </a>
-->

<form action="{{ url_for('formplot') }}" method=post>
  <table padding=5>
  <tr>
   <td valign=top>

  <table border=0.5 padding=1>
    <tr> <th colspan=2>Time Range:</th><th colspan=2> PV Names</th><tr>
    <tr>
      <td> <input type=submit name=submit value='Date Range:'></td>
      <td>
	<input type='text' id="date1" name="date1" style="width: 125px;" value="{{date1}}">
	 <script type="text/javascript">
	   $(function(){ $('*[name=date1]').appendDtpicker(); });
	 </script>

    </td>
      </td>
      <td>PV 1:</td> <td><input style="width: 275px;" type=text name='pv1' value='{{pv1|safe}}'></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp; to:</td>
      <td>
	<input type='text' id="date2" name="date2" style="width: 125px;" value="{{date2}}">
	<script type="text/javascript">
	  $(function(){$('*[name=date2]').appendDtpicker(); });
	</script>
      </td>
      <td>PV 2:</td> <td><input style="width: 275px;" type=text name='pv2' value='{{pv2|safe}}'></td>
    </tr>

    <tr>
      <td colspan=2> &nbsp;&nbsp; or show recent data:</td>
      <td>PV 3:</td><td><input style="width: 275px;" type=text name='pv3' value='{{pv3|safe}}'></td>
    </tr>

     <tr>
      <td> <input type=submit name=submit value='From Now:'></td>
      <td>
	<select name='time_ago' style="width: 125px;">
	  {% for c in ago_choices %}
	  <option value='{{c}}' {% if c==time_ago %} selected=1 {% endif %}> {{c}}</option>
	  {% endfor %}
	</select>
      </td>
      <td>PV 4:</td><td><input style="width: 275px;" type=text name='pv4' value='{{pv4|safe}}'></td>
    </tr>
  <tr>
    <td>Recent History:</td>
    <td colspan=3>
      &nbsp; <a href="/pvarch/plot/4hours/now/{{pv1}}/{{pv2}}/{{pv3}}/{{pv4}}">past 4 hours </a>
      &nbsp; <a href="/pvarch/plot/1days/now/{{pv1}}/{{pv2}}/{{pv3}}/{{pv4}}">past day </a>
      &nbsp; <a href="/pvarch/plot/1week/now/{{pv1}}/{{pv2}}/{{pv3}}/{{pv4}}">past week </a>
      &nbsp; <a href="/pvarch/plot/6weeks/now/{{pv1}}/{{pv2}}/{{pv3}}/{{pv4}}">past 6 weeks </a>
    </tr>

  <tr><td colspan=4><hr></td></tr>

  <tr><td> Data Files: </td>
    <td colspan=3>
      {% if pv1 is not none %} &nbsp; <a href="/pvarch/data/{{date1}}/{{date2}}/{{pv1}}/{{pv1}}.dat"> {{pv1|safe}}</a>{% endif %}
      {% if pv2 is not none %} &nbsp; <a href="/pvarch/data/{{date1}}/{{date2}}/{{pv2}}/{{pv2}}.dat"> {{pv2|safe}}</a>{% endif %}
    </td>
  </tr>

  {% if pv3 is not none %}
  <tr>
    <td></td><td colspan=3>
      &nbsp; <a href="/pvarch/data/{{date1}}/{{date2}}/{{pv3}}/{{pv3}}.dat"> {{pv3|safe}}</a>
      {% if pv4 is not none %}
      &nbsp; <a href="/pvarch/data/{{date1}}/{{date2}}/{{pv4}}/{{pv4}}.dat"> {{pv4|safe}}</a>
      {% endif %}
    </td>
  </tr>
  {% endif %}

  {% if fig is not none %}
  <tr>
    <td colspan=4>
      <script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
      <div id='pv_plot'>
	<script  type="text/javascript">
	  var graph = {{fig | safe}};
	  Plotly.plot('pv_plot',   graph.data,   graph.layout || {}, config=graph.config);
	</script>
      </div>
    </td>
  </tr>
  {% endif %}
  {% if table is not none %}
  <tr>
    <td colspan=4>
      Data for {{ tablepv }}
      <table>
	<tr><th>Date</th><th>Value</th></tr>
	{% for ts, val in table %}
	<tr class={{ loop.cycle('odd', 'even') }}>
	  <td> {{ts}} &nbsp;&nbsp;</td><td> {{val}} </td>
	</tr>
	{% endfor %}
      </table>
    </td>
  </tr>
  {% endif %}


  </table>

</td>
<td>&nbsp;&nbsp;</td>
<td valign='top'>

  {% if nmessages > 0 %}
  {% for m in messages %} {{m}} <br> {% endfor %}
  {% endif %}
  <hr><p>

  <p>Related PVs: Select PV to plot alone or<br>
  select up to 4 to &nbsp; <input type=submit name=submit value='plot selected:'></p>

  <table>
    <tr><th>PV Name</th><th>Plot?</th></tr>
    {% for pvname, pvid in related %}
    <tr class={{ loop.cycle('odd', 'even') }}>
      <td><a href="/pvarch/plot/{{date1}}/{{date2}}/{{pvname}}"> {{pvname}}</a> </td>
      <td><input type="checkbox" name="sel_{{pvid}}"
		 {% if pvname in selected_pvs %}
		 checked="checked" {% endif %}>
      </td>
    </tr>
    {% endfor %}
  </table>


</td></tr>
</table>

</form>

</body>
{% endblock %}
{% include "footer_include.html" %}
