{% extends 'header_include.html' %}
{% include 'pagelist_include.html' %}
{% include 'pvupdate_include.html' %}
{% include 'errors_include.html' %}
{% block body %}

<p> <div class=subfont> PVArchiver Status a t {{status.now}} </div>

  <table><tr><th>Process</th><th>DB Name</th><th>Status</th><th>Activity</th></tr>
    <tr>
      <td>Cache:</td>
      <td> {{ status.cache_dbname }}</td>
      <td> {{ status.cache_status }}</td>
      <td> {{ status.cache_activity}}</td>
    </tr>
    <tr>
      <td>Archiver:</td>
      <td> {{ status.arch_dbname }}</td>
      <td> {{ status.arch_status }}</td>
      <td> { {status.arch_activity}}</td>
    </tr>
</table>


{% endblock %}
{% include 'footer_include.html' %}
